<div class="flex flex-wrap gap-8 justify-center">  
    <img class="w-96 rounded-b-lg" src="/img/coral1.jpg">
    <img class="w-96 rounded-b-lg" src="/img/coral2.jpg">
    <img class="w-96 rounded-b-lg" src="/img/coral3.jpg">
</div>