<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <% if (authenticated) { %>
        <h2>Hello, <%= username %></h2>
        <div class="button-container">
            <a href="/members" class="button">Members</a><br />
            <a href="/logout" class="button">Logout</a>
        </div>
        <% } else { %>
        <h2>Welcome</h2>
        <div class="button-container">
            <a href="/signup" class="button">Sign Up</a><br />
            <a href="/login" class="button">Login</a>
        </div>
        <% } %>
    </body>
</html>
