<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/js/login.js" defer></script>
    </head>
    <body>
        <h2>Login</h2>
        <div class="container">
            <div id="error" class="error" style="display: none">Invalid email or password.</div>
            <input name="email" type="email" placeholder="email" /><br />
            <input name="password" type="password" placeholder="password" /><br />
            <button id="submit">Submit</button>
        </div>
    </body>
</html>
