<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CATS!</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/js/members.js" defer></script>
    </head>
    <body>
        <div class="container">
            <h2>Hello, <%= username %></h2>
            <img id="cat" src="" alt="the best cat." style="visibility: hidden" />
            <a href="/logout" class="button">Logout</a>
        </div>
    </body>
</html>
