<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <h2>Create an Account</h2>
        <form action="/signupSubmit" method="post">
            <input name="username" type="text" placeholder="username" /><br />
            <input name="email" type="email" placeholder="email" /><br />
            <input name="password" type="password" placeholder="password" /><br />
            <button>Submit</button>
        </form>
    </body>
</html>
